*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

.mainCard {
    height: 150px;
    width: 250px;
    margin: 25px;
    padding: 0.43%;
    display: flex;
    background: cadetblue;
    /*justify-content: center;*/
    flex-wrap: wrap;
    border-radius: 7px;
    flex-grow: inherit;
}

.cardTitle{
    padding: 1px;
    width: auto;
    height: 40px;
    font-size: smaller;
    display: inline-flex;
    /*justify-content: center;*/
    /*background: red;*/
    border-radius: 5px;
}

.label{
    width: auto;
    height: 37%;
    background: red;
    padding: 2px;
    border-radius: 5px;
}

.pTitle{
    padding: 0px 0px 0px 27px;
}

.text{
    margin: 10px;
    padding: -120px;
}

.cardParameters{
    margin: 10px;
    font-size: 15px;
    color: darkkhaki;
}

.l1{
    padding: 0 0 0 10px;
}

.l2{
    padding: 0 0 0 30px;
}